.card-container {
  cursor: pointer;
  box-shadow: 0 0.11765rem 0.41176rem 0 rgba(0,0,0,0.2);
  height: 80%;
  left: 50%;
  margin: 0;
  perspective: 600;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card.isFlipped {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  text-align: center;
  transform: rotateY(180deg);
}

.card-image {
  height: 60%;
}

.card-background {
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 0.11765rem 0.41176rem 0 rgba(0,0,0,0.2);
  font-size: 1rem;
  height: 40%;
  position: absolute;
  right: 0;
  width: 100%;
}

.card-background::before {
  content: '';
  position: absolute;
  left: 0;
  top: -60px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transform: skewY(20deg);
  -moz-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  -o-transform: skewY(20deg);
  transform: skewY(20deg);
  -webkit-backface-visibility: hidden;
}

.card-description {
  position: relative;
}